#weather
  .grid
    .column
      .content
        padding:20px
        .header
          font-weight:700
          .icon
            margin-top:3px
        .main
          margin-top:10px
          font-weight:300
          ul
            list-style:none
            margin:0
            padding:0
            li
              span
                font-weight:500
                float:right